@import "./Assets/css/fonts.css";

html {
    position: relative;
    direction: rtl;
  }

  html,
  body,
  #root {
    height: 100%;
  }
  
  body {
    text-align: right;
    font-size: 14px;
    line-height: 20px;
  }

  body,
.mui-grid,
.MuiButtonBase-root,
.MuiTabPanel-root {
  font-family: "Cairo" !important;
}
